#antrag_stellen {
    width: 800px;
    float: left;
    padding: 1em;
    border: 3px solid black;
    border-radius: 1em;
}

.topnav .login-container {
    float: right;
}

.leftnav {
    float: left;
    width: 15%;
    padding: 20px;
}

.in_antrag_small {
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #000000;
}

form section {
    border: 2px solid darkorange;
    margin-bottom: 15px;
}

form h3 {
    margin: 5px;
}

form p {
    margin-left: 5px;
}

label {
    position:relative;
}

label textarea:focus {
    border-color: black;
}

label span {
    display: inline-block;
    text-align: left;
    width: 15%;
}

p textarea {
    width: 95%;
    height: 150px;
    resize: none;
}